{% extends "base.html" %}

{% block content %}

<div class="alert alert-info">
<p>Please forgive our tardiness! The API docs will be available soon! In the meantime, you can create them yourself. How?
<ol>
<li>Make sure you have installed Apache Maven, see <b><a href="http://maven.apache.org/">here</a></b>.</li>
<li>Download the DataExpress source code from our <b><a href="https://github.com/cbmi/dataexpress">github project</a></b>.</li>
<li>Assuming you downloaded the source code to your home directory as DataExpress, from a command prompt, execute the following commands: </li>
</ol>
<pre>
$cd ~/DataExpress
$mvn site
</pre>
If successful, there should now be an <code>index.html</code> file in the directory <code>~/DataExpress/target/site</code>. Simply double click
this file to open it in your default web browser. There will be a link on the left called <code>Project Reports</code>. Click that link to and then
click the link for <code>ScalaDocs</code>.
</div>

{% endblock %}