<div id=topbar class="navbar navbar-fixed-top">
    <div class=navbar-inner> 
        <div class=container>
            <ul class="nav pull-left">
                <li><a class="cbmi" href="http://www.research.chop.edu/programs/cbmi/">Center for Biomedical Informatics</a> 
            </ul>
            <ul class="nav pull-right">
                <li><a class="chop-research" href="http://www.research.chop.edu/">The Children's Hospital of Philadelphia | Research Institute</a>
            </ul>
        </div>
    </div>
</div>

<div id=subnav class="navbar navbar-fixed-top">
    <div class=navbar-inner>
        <div class=container>
            <a href=/ class=brand>Data Express</a>
            <ul class=nav>
                <li><a href=/about/>About</a></li>
            </ul>
        </div>
    </div>
</div>
